# Back slash

In [3]:
print("hello \
python")

hello python

By using Back slash will get the output in a single line

# Triple quote

In [4]:
print('''hello triple quote''')

hello triple quote

Triple quote is used to print the document string.

# String inside quote

In [5]:
print("sai's lap")

sai's lap

If the double quote is opened it should be closed.

# Escape sequence of string

In [6]:
print("learning about \n escape swquence")

learning about
 escape swquence

In [7]:
print("Escape \a Sequence of string")

Escape  Sequence of string

The \a will give us a alram sound and \n will print the text in new line.

# Formatted output

In [9]:
name="sai"
roll=34
dept="cse"

In [13]:
print(name,roll,dept)

sai 34 cse

In [16]:
print(f"name {name} her roll{roll} and dept {dept}")

name sai her roll34 and dept cse

# Python variable

In [17]:
a=10

In [18]:
print(a)

10

Variable is linking of data to a name or which store the value,should be meaningfull.

In [19]:
_10=6

In [20]:
print(_10)

6

Here the variable name _10 is meaningless,we need to avoid this.

# Python assignment statements

In [22]:
a=b=10

In [23]:
print(a)

10

In [24]:
print(b)

10

In [26]:
id(a)

140716125561520

In [27]:
id(b)

140716125561520

As the a and b values  are same so it points to the same memory location so, the address is 
same for both.
But the range should be from -5 to +256

In [29]:
a=-3
b=-3

In [30]:
id(a)

140716125561104

In [32]:
id(b)

140716125561104

# Python Operators

Arithmetic operator

In [33]:
a=10
b=20

In [34]:
print(a+b)

30

In [35]:
print(a-b)

-10

In [37]:
print(a*b)

200

In [38]:
print(a/b)

0.5

In [39]:
print(a%b)

10

In [40]:
print(a//b)

0

In [41]:
c=3
print(a/b*c)

1.5

The Floor division gives the integer part after performing the division.
if the precedence is same for two operators then the calculation starts from left to right,incase of exponential it starts from right to left

# Comparison operator

In [42]:
a=19
b=34

In [43]:
a==b

False

In [44]:
a!=b

True

In [45]:
a>b

False

In [46]:
a<b

True

In [47]:
a>=b

False

In [48]:
a<=b

True

==,!=,<,>,<=,>= are the comparison operators which are used to compare the two variables.

# Assignment operator

In [56]:
a=4
b=a
print(b)

4

The value of a is assigned to b and b is printed which is same as a.+=,-= are some of assignment operators

# Bitwise operator

In [57]:
a=20
b=10
a|b

30

In [58]:
a&b

0

In [59]:
~a

-21

In [60]:
a^b

30

In [63]:
a>>b

0

In [64]:
b>>a

0

In [65]:
a<<b

20480

In [66]:
b<<a

10485760

Or,and,xor,leftshift,right shift are the bitwise operators.

# Logical operator

In [68]:
x=7
y=5

In [70]:
x>0 and y>0

True

In [71]:
x>0 or y<0

True

And will result us true if both the conditions are true,or results us true if
any one of the condition is true,not is opposite.

# Membership operator

In [84]:
str="saisuma"

In [85]:
'a' in str

True

In [86]:
's' in str

True

In [87]:
't' in str

False

In [88]:
't' not in str

True

The in  will results us true when the alphabet is present in string else returns false, not in
results us true if the alphabet is not present in string else return false.

# Operator precedence

+
-
* / // %
The * / has the same precedence so the calculation in left to right. Incase of exponential the
calculation should be done from right to left.

In [90]:
print(10+10/20*4)

12.0

The int/int in python2 will return int,the int/int in python3 will return float in python 3
operator in the same box have the same precedence.
operator in the same box cal from left to right.
Exponential which group from right to left.